<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
 
  <!-- <div class="container"> -->
  <div class="descriptionModal">
   <!-- <div class="container"> -->
      <div class="row">
        <div class="col" style="margin: 0; float: none; text-align:center;" >
         
            <div style="margin: 0; float: none; text-align:center;"><img src="./../assets/Standardbank.png" alt="logoEmbajador" width="130" height="130"> </div>
            <br>
            <div class="card-heading">
              <h2 class="title" style="color:aliceblue;font-size: 13px;
              position: relative;
              top: -25px;">version 3.30.0</h2>
            </div>
            <div class="card-heading">
              <h2 class="title" style="color:aliceblue">Hello again</h2>
            </div>
            <br>
            <div class="card-body" style="position: absolute;">
                <div class="center" style="position: absolute;">
                    <button class="btn btn--radius-2 btn--red" 
                    style="position: relative;
                    background:#ffffff ;
                    color:#0033aa;
                    top: 50px;
                    left: 10px;
                    width: 401px;
                    height:45px;"type="submit"routerLink="/documentselection">Sign In</button>
                  </div>
                  <div class="card-heading">
                    <h2 class="title" style="color:aliceblue;font-size: 13px;
                    position: relative;
                    top: 105px;
                    left:90px">By  signing in,I agree to the T&Cs</h2>
                  </div>
                  
            </div>
            <!-- <div><img src="./../assets/qr.png" alt="logoEmbajador" width="50" height="50" style="position: relative;
              top: 270px;
              left: -180px;"> </div>
                <div class="card-heading">
                  <h2 class="title" style="color:aliceblue;font-size: 13px;
                  position: relative;
                  top: 280px;
                  left:-180px">Scan Qr</h2>
                </div>
                <div><img src="./../assets/Tap&Pay.png" alt="logoEmbajador" width="50" height="50" style="position: relative;
                  top: 206px;
                  left: 170px;"> </div>
                    <div class="card-heading">
                      <h2 class="title" style="color:aliceblue;font-size: 13px;
                      position: relative;
                      top: 217px;
                      left:170px">Tap & Pay</h2>
                    </div>
                    <div><img src="./../assets/forex.png" alt="logoEmbajador" width="50" height="50" style="position: relative;
                      top: 140px;
                      left: 50px;"> </div>
                        <div class="card-heading">
                          <h2 class="title" style="color:aliceblue;font-size: 13px;
                          position: relative;
                          top: 153px;
                          left:50px">Forex</h2>
                        </div>
                        <div><img src="./../assets/balances.png" alt="logoEmbajador" width="50" height="50" style="position: relative;
                          top: 75px;
                          left: -70px;"> </div>
                            <div class="card-heading">
                              <h2 class="title" style="color:aliceblue;font-size: 13px;
                              position: relative;
                              top: 85px;
                              left:-73px">Balances</h2>
                            </div> -->
                            <div>
                              <img src="./../assets/loginbottom.png" alt="logoEmbajador" width="460" height="100"style="position: relative;
                              top: 520px;
                               left: 1px;"> 
                             </div>
                            
           
          

        </div>
        <!-- <div class="col-sm-4">
          
        </div>
        <div class="col-sm-4">
    
        </div> -->
      </div>
    <!-- </div> -->
</div>
<!-- </div> -->
<!-- </div> -->
</body>
</html>
